<h1>Device Configuration</h1>
<%= form_tag('/' + @id + '/devices/update_details/' + @device_id, method: 'get') do %>
<h3>System Name</h3>
<table>
  <tbody>
  <tr>
    <td>
      Device Name
    </td>
    <td>
      <%= text_field_tag(:device_name, @device_name, maxlength: 100) %>
    </td>
  </tr>
  </tbody>
</table>
<h3>ID</h3>
<p><%= @device_id %></p>
<h3>Configuration Changes Pending</h3>
<p><%= @device_changes_pending %></p>
<h3>Capture Configuration</h3>
<table>
  <tbody>
  <tr>
    <td>
      Sampling Frequency
    </td>
    <td>
      <%= text_field_tag(:sampling_frequency, @sampling_frequency, maxlength: 20) %>
    </td>
  </tr>
  <tr>
    <td>Sensor Names</td>
    <td>
      <table>
        <tbody>
          <% @sensor_names.each {|sensor| %>
          <tr>
            <td><%= sensor %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>Sensor Bindings</td>
    <td>
        <table>
          <thead>
          <tr>
            <th>Sensor Name</th>
            <th>Sensor Binding</th>
          </tr>
          </thead>
          <tbody>
            <% @sensor_bindings.each {|binding| %>
            <tr>
              <td><%= binding[:name] %></td>
              <td><%= select_tag binding[:name], options_for_select(@sensor_binding_sites, selected=binding[:binding]) %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
    </td>
  </tr>
  </tbody>
</table>
<%= submit_tag('Save Changes') %>
<% end %>