<h1>Device Details</h1>
<h3>System Name</h3>
<p><%= @device_name %></p>
<h3>ID</h3>
<p><%= @device_id %></p>
<h3>Configuration Changes Pending</h3>
<p><%= @device_changes_pending %></p>
<h3>Configuration</h3>
<p>Sampling Frequency: <%= @sampling_frequency %></p>
<p>Sensor Names: <%= @sensor_names.inspect %></p>
<p>Sensor Bindings: <%= @sensor_bindings.inspect %></p>
