<h1>Device Configuration</h1>
<%= form_tag('/' + @id + '/devices/update_details/' + @device_id, method: 'post') do %>
<h3>System</h3>
<table>
  <tbody>
  <tr>
    <td>
      Device Name
    </td>
    <td>
      <%= text_field_tag(:device_name, @device_name, maxlength: 100) %>
    </td>
  </tr>
  <tr>
    <td>
      Serial Number
    </td>
    <td>
      <%= @device_id %>
    </td>
  </tr>
  <tr>
    <td>
      Configuration Status
    </td>
    <td>
      <%= @device_changes_pending ? 'Configuration changes are pending.' : 'Configuration is up to date.' %>
    </td>
  </tr>
  <tr>
    <td>
      Power Controls
    </td>
    <td>
      <%= submit_tag 'Reboot', data: { confirm: 'Are you sure you want to reboot the device?' } %>
      <%= submit_tag 'Power Off', data: { confirm: 'Are you sure you want to power the device off?' } %>
    </td>
  </tr>
  <tr>
    <td>
      Capture Controls
    </td>
    <td>
      <%= submit_tag 'Start Capture' %>
      <%= submit_tag 'End Capture' %>
    </td>
  </tr>
  </tbody>
</table>
<h3>Capture Configuration</h3>
<table>
  <tbody>
  <tr>
    <td>
      Sampling Frequency
    </td>
    <td>
      <%= text_field_tag(:sampling_frequency, @sampling_frequency, maxlength: 20) %>
    </td>
  </tr>
  <tr>
    <td>Sensor Names</td>
    <td>
      <table>
        <tbody>
          <% @sensor_names.each {|sensor| %>
          <tr>
            <td><%= sensor %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>Sensor Bindings</td>
    <td>
        <table>
          <thead>
          <tr>
            <th>Sensor Name</th>
            <th>Sensor Binding</th>
          </tr>
          </thead>
          <tbody>
            <% @sensor_bindings.each { |name, binding| %>
            <tr>
              <td><%= name %></td>
              <td><%= select_tag name, options_for_select(
                  @sensor_binding_sites,
                  selected=@sensor_binding_sites.include?(binding) ? binding : 'None') %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
    </td>
  </tr>
  <tr>
    <td>Interfaces</td>
    <td>
      <table>
        <thead>
        <tr>
          <th>Interface</th>
          <th>Priority (lowest is preferred)</th>
          <th>Configuration</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>Wired Ethernet</td>
            <td>
              <%= select_tag 'if_priority_wired', options_for_select(
                [ '1', '2', '3' ],
                selected='1') %>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Wireless Ethernet</td>
            <td>
              <%= select_tag 'if_priority_wireless', options_for_select(
                  [ '1', '2', '3' ],
                  selected='2') %>
            </td>
            <td>
              <p>SSID: <%= text_field_tag(:wifi_ssid, @wifi_ssid, maxlength: 32) %></p>
              <p>Password: <%= password_field_tag(:wifi_password, @wifi_password, maxlength: 32) %></p>
            </td>
          </tr>
          <tr>
            <td>Bluetooth Networking</td>
            <td>
              <%= select_tag 'if_priority_bluetooth', options_for_select(
                  [ '1', '2', '3' ],
                  selected='3') %>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<%= submit_tag 'Save Changes', :name => 'save' %>
<% end %>