<h1>Captures</h1>
<h2>Your Captures</h2>
<div class="container">
  <div class="row">
    <div class="column">
      <table class="table">
        <tbody>
          <tr>
            <th>Created</th>
            <th>Sampling Rate</th>
            <th>Device</th>
            <th>Edit Capture</th>
          </tr>
          <% @captures.each { |capture| %>
            <tr>
              <td><%= capture['CREATEDTIME'] %></td>
              <td><%= capture['FREQUENCY'] %></td>
              <td><%= link_to 'System', '/' + @id + '/devices/details/' + capture['SYSTEM_UUID'] %></td>
              <td><%= link_to 'View Capture', '/' + @id + '/captures/show/' + capture['LOCATION'] %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h2>Device Management</h2>
<%= link_to 'Register a new device.', '/' + @id + '/devices/register' %>