<h1>Capture</h1>
<div class="container">
  <div class="row">
    <div class="column">
      <table class="table">
        <tbody>
            <tr>
              <th>Created</th>
              <th>Sample Rate</th>
              <th>System</th>
            </tr>
            <tr>
              <td><%= @capture['CREATEDTIME'].strftime('%b %d %H:%M:%S') %></td>
              <td><%= @capture['FREQUENCY'] %></td>
              <td><%= link_to 'System', '/' + @id + '/devices/details/' + @capture['SYSTEM_UUID']  %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<h2>Upload Video</h2>
<form action="https://<%= @s3_ul_bucket %>.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
  <input type="hidden" name="key" value="<%= @capture['LOCATION'] %>/${filename}">
  <input type="hidden" name="AWSAccessKeyId" value="<%= @s3_ul_access_key %>">
  <input type="hidden" name="acl" value="private">
  <input type="hidden" name="success_action_redirect" value="<%= @s3_ul_success_url %>">
  <input type="hidden" name="policy" value="<%= @s3_ul_policy_doc %>">
  <input type="hidden" name="signature" value="<%= @s3_ul_signature %>">
  Video file to upload:
  <input name="file" type="file">
  <br>
  <input type="submit" value="Upload Video">
</form>
<h2>Details</h2>
<p><%= @capture_details %></p>
<p><%= render 'graph_sensor_data' %></p>
<h2>Processed Videos</h2>
<div class="container">
  <div class="row">
    <div class="column">
      <table class="table">
        <tbody>
        <tr>
          <th>Created</th>
          <th>Link to Video</th>
        </tr>
        <% @videos.each { |video| %>
            <tr>
              <td><%= video[:last_modified].strftime('%b %d %H:%M:%S') %></td>
              <td><%= link_to video[:name][37..-1], @video_prefix + video[:name] %></td>
            </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>